@model Produto

@{

    ViewData["Title"] = "Cadastrar Produto";


}
<center><h2>Cadastrar Produto</h2></center>
<br />
<br />
<div align="right">
    <div>
        <a href="../SubCategoria/Cadastrar" class="btn btn-danger" > Cadastrar Subcategoria</a>
    </div>
</div>
<form asp-action="CadastrarProduto" method="post"
      enctype="multipart/form-data">
    <fieldset>
        <legend>Produto</legend>
        <div asp-validation-summary="ModelOnly"
             class="text-primary"></div>
        <div class="form-group" id="qrCode">
            <label asp-for="nome"></label>
            <input type="text" class="form-control"
                   asp-for="nome" />
            <span asp-validation-for="nome"
                  class="text-primary"></span>
        </div>
        <div class="form-group" id="valor">
            <label asp-for="Valor"></label>
            <input type="text" class="form-control"
                   asp-for="Valor" />
            <span asp-validation-for="Valor"
                  class="text-primary"></span>
        </div>
        <div class="form-group" id="SubCategoria">
            <label>SubCategoria</label>
            <select asp-items="@ViewBag.Sub"
                    class="form-control"
                    name="drpSub">
                <option> -- SELECIONE -- </option>
            </select>
            <p></p>
        </div>

        <div>
            <input type="submit" class="btn btn-success" value="Cadastrar" />
            <br><br />
       
                
          
        </div>
    </fieldset>
</form>