@model SubCategoria
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <a asp-action="Cadastrar" class="btn btn-info">Cadastrar subCategoria</a>
    <table class="table table-hover table-striped"
           style="margin-top:15px;margin-bottom:15px">
</head>
<body>
</body>
</html>
